<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Cards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" media="screen" href="./Cards.css" />
  </head>
  <body>
    <div>
      <h1 class="title">Automobile Damage Assesment</h1>
      <div class="cards">
        <div class="card c1">
          <div class="card-heading">
            <h5>Total Claims</h5>
          </div>
          <div class="card-body">658</div>
        </div>
        <div class="card c2">
          <div class="card-heading">
            <h5>Completed</h5>
          </div>
          <div class="card-body">632</div>
        </div>
        <div class="card c3">
          <div class="card-heading">
            <h5>Failed Claims</h5>
          </div>
          <div class="card-body">26</div>
        </div>
        <div class="card c4">
          <div class="card-heading">
            <h5>Updated</h5>
          </div>
          <div class="card-body">0</div>
        </div>
        <div class="card c5">
          <div class="card-heading">
            <h5>Review Completed</h5>
          </div>
          <div class="card-body">488</div>
        </div>
        <div class="card c6">
          <div class="card-heading">
            <h5>Mean Accuracy</h5>
          </div>
          <div class="card-body">92%</div>
        </div>
        <div class="card c7">
          <div class="card-heading">
            <h5>Panel Detection Accuracy</h5>
          </div>
          <div class="card-body">10%</div>
        </div>
      </div>
    </div>
  </body>
</html>
