<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="./Damaged_Parts.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="show">
      <div class="container">
        <div class="row">
          <div class="table-responsive col-sm-4">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Part Name</th>
                  <th scope="col">Assessment</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">Part</td>
                  <td scope="row" class="damage"></td>
                  <td scope="row" class="rating">1/5</td>
                </tr>
                <tr>
                  <td scope="row">Part</td>
                  <td scope="row" class="damage"></td>
                  <td scope="row" class="rating">1/5</td>
                </tr>
                <tr>
                  <td scope="row">Part</td>
                  <td scope="row" class="damage"></td>
                  <td scope="row" class="rating">5/5</td>
                </tr>
                <tr>
                  <td scope="row">Part</td>
                  <td scope="row" class="damage"></td>
                  <td scope="row" class="rating">5/5</td>
                </tr>
                <tr>
                  <td scope="row">Part</td>
                  <td scope="row" class="damage"></td>
                  <td scope="row" class="rating">3/5</td>
                </tr>
                <tr>
                  <td scope="row">Part</td>
                  <td scope="row" class="damage"></td>
                  <td scope="row" class="rating">1/5</td>
                </tr>
                <tr>
                  <td scope="row">Part</td>
                  <td scope="row" class="damage"></td>
                  <td scope="row" class="rating">2/5</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-responsive col-sm-4">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Part Name</th>
                  <th scope="col">Assessment</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">Part</td>
                  <td scope="row" class="damage"></td>
                  <td scope="row" class="rating">1/5</td>
                </tr>
                <tr>
                  <td scope="row">Part</td>
                  <td scope="row" class="damage"></td>
                  <td scope="row" class="rating">1/5</td>
                </tr>
                <tr>
                  <td scope="row">Part</td>
                  <td scope="row" class="damage"></td>
                  <td scope="row" class="rating">5/5</td>
                </tr>
                <tr>
                  <td scope="row">Part</td>
                  <td scope="row" class="damage"></td>
                  <td scope="row" class="rating">5/5</td>
                </tr>
                <tr>
                  <td scope="row">Part</td>
                  <td scope="row" class="damage"></td>
                  <td scope="row" class="rating">3/5</td>
                </tr>
                <tr>
                  <td scope="row">Part</td>
                  <td scope="row" class="damage"></td>
                  <td scope="row" class="rating">1/5</td>
                </tr>
                <tr>
                  <td scope="row">Part</td>
                  <td scope="row" class="damage"></td>
                  <td scope="row" class="rating">2/5</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-responsive col-sm-4">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Part Name</th>
                  <th scope="col">Assessment</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">Part</td>
                  <td scope="row" class="damage"></td>
                  <td scope="row" class="rating">1/5</td>
                </tr>
                <tr>
                  <td scope="row">Part</td>
                  <td scope="row" class="damage"></td>
                  <td scope="row" class="rating">1/5</td>
                </tr>
                <tr>
                  <td scope="row">Part</td>
                  <td scope="row" class="damage"></td>
                  <td scope="row" class="rating">5/5</td>
                </tr>
                <tr>
                  <td scope="row">Part</td>
                  <td scope="row" class="damage"></td>
                  <td scope="row" class="rating">5/5</td>
                </tr>
                <tr>
                  <td scope="row">Part</td>
                  <td scope="row" class="damage"></td>
                  <td scope="row" class="rating">3/5</td>
                </tr>
                <tr>
                  <td scope="row">Part</td>
                  <td scope="row" class="damage"></td>
                  <td scope="row" class="rating">1/5</td>
                </tr>
                <tr>
                  <td scope="row">Part</td>
                  <td scope="row" class="damage"></td>
                  <td scope="row" class="rating">2/5</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <script src="./Damaged_Parts.js"></script>
  </body>
</html>
