<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Status Controls</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      type="text/css"
      media="screen"
      href="./Status_Controls.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="controls">
      <div class="container">
        <div class="row">
          <div class="row1">
            <button type="button" class="close_review">Close Review</button>
            <button type="button" class="save">Save</button>
            <button type="button" class="more">< ></button>
          </div>
        </div>
        <br/>
        <div class="row">
           <div class="row2">
            <button type="button" class="all_claims">
                All Claims 
            </button>
            <button type="button" class="damaged_parts">
                Damaged Parts
            </button>
            <button type="button" class="mandatory_parts">
                Mandatory Parts
            </button>
            <button type="button" class="missing_parts">
                Missing Parts
            </button>
            <button type="button" class="summary">
                Summary
            </button>
            <button type="button" class="track_changes">
                Track Changes
            </button>
            <button type="button" class="cost_estimate">
                Cost Estimate
            </button>
           </div>
        </div>
      </div>
    </div>
  </body>
</html>
